<style>
    body
    {
        background-color: none !important;
    }
</style>

<div class="configuracion container_pagina">
    <form action = '@Url.Action("Juego", "Home")' method="post">

        <div class="confJuego2">
            <p style="color: rgb(255, 255, 255);"><strong>ELEGÍ LA DIFICULTAD</strong></p>
            <input type="hidden" name ="dificu  ltad" id="dificultad" value ="0">
            <input type="button" class="btn btn-secondary btn-lg"  style="width: 9vw;" onclick="ElegirDificultad(-1)" value ="ALEATORIO" id="dificultad-1" name="botondificultad">
            @foreach(Dificultades item in ViewBag.Dificultades)
            {
                <input type="button" class="btn btn-secondary btn-lg" style="width: 9vw;" 
                    onclick="ElegirDificultad(@item.IdDificultad)" value="@item.Nombre" 
                    id="dificultad@(item.IdDificultad)" name="botondificultad">
            }

            <p style="color: rgb(255, 255, 255);"><strong>ELEGÍ LA CATEGORÍA</strong></p>
            
            <input type="hidden" name ="categoria" id="categoria" value ="0">
            <input type="button" class="btn btn-secondary btn-lg" style="width: 9vw;" onclick="ElegirCategoria(-1)" value="ALEATORIA" id="categoria-1" name="botoncategoria">

            @foreach(Categorias item in ViewBag.Categorias)
            {
                <input type="button" class="btn btn-secondary btn-lg" style="width: 9vw;" 
                onclick="ElegirCategoria(@item.IdCategoria)" value="@item.Nombre"
                id="categoria@(item.IdCategoria)" name="botoncategoria">
            }
            
            <p style="color: rgb(255, 255, 255);"><strong>INGRESA TU NOMBRE:</strong></p>
            
            <input type="text" class="form-control" style="width: 12vw; height: 4vw; display: inline-block;" placeholder="Ingresa tu nombre.....">
            
            <p></p>

            <input type="submit" class="btn btn-light btn-lg btn-outline-dark"  style="width: 13vw;" href='@Url.Action("Juego", "Home")' value="JUGAR">
            
            
        </div>
    </form>


    </div>
</html>
