<div class="configuracionFondo container_pagina">
        
        <a href="Index.html#" class="exit btn btn-danger ToLeft">Salir del juego</a>

        <p style="color: rgb(231, 205, 255); font-size: 1vw;"><strong>@item.username</strong></p>
    
        <form action='@Url.Action("VerificarRespuesta")' method="post">
    
            @for(int i = 0; i < ViewBag.respuestas.Count; i++){
                <input type="hidden" name = "idPregunta" value = "@ViewBag.respuestas[i].IdPregunta">
                <input type="radio" class="btn-check" name="idRespuesta" id="opt@(i)" autocomplete="off" value = "@ViewBag.respuestas[i].IdRespuesta">
                <label class="btn btn-outline-secondary" for="opt@(i)">@ViewBag.respuestas[i].contenido</label>
            }
            
        <div>
            <input type="submit" class="btn btn-secondary" role="button" style=" width: 10em" value="Listo"><br>
        </div>

        <h4>Username: @ViewBag.username</h4>
        <h4>Puntos: @ViewBag.puntajeActual</h4>
        
        </form>
